<img id="background" src="imgs/space3.jpg" alt="space">
<h1 class="welcome"> weather wizard </h1>
<h2 class="the-truth"> the weather a year from now will be exactly...</h2>
<div class="wizard-container">
  <img id="images" src="imgs/1Body.png" alt="Wizard Body">
  <img id="images" src=<%= "imgs/heads/#{rand(3)}.png" %> alt="Twonk Head">
  <img id="cloud" src="imgs/5Cloud.png" alt="Cloud">
  <div class="text-container">
    <p id='temp'><%= @temp %>°</p>
    <table>
      <tr id='heading'>
        <td id='precip'>Precipitation </td>
        <td id='humidity'>Humidity </td>
        <td id='wind'>Windspeed </td>
      </tr>
      <tr id='table-body'>
        <td id='precip'><%= @precip.capitalize %> </td>
        <td id='humidity'><%= @humidity %> </td>
        <td id='wind'><%= @wind %> mph</td>
      </tr>
    </table>
  </div>

</div>

<h2 class="maybe">...maybe</h2>

